.entities-list {
    list-style: none;
    padding-left: 0.8rem;
}

.entities-group {
    width: 25%;
}

@media (max-width: 900px) {
    .entities-group {
        width: 33%;
    }
}

@media (max-width: 720px) {
    .entities-group {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .entities-group {
        width: 100%;
    }
}