.logout {
    font-size: 0.8rem;
}

.book-list {
    margin-top: 1rem;
}

.book-list .book-group {
    display: none;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.book-list .book-group.active {
    display: grid;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.book img {
    width: 200px;
    height: 280px;
}

.book .book-info {
    margin: 1rem 0;
}

.book .rating{
    background: var(--green);
    padding: 0 .1rem;
    border-radius: 3px;
}

.status-btn {
    border: none;
    box-shadow: var(--shadow);
    background: white;
    margin: 0.1rem;
}

.status-btn.active {
    box-shadow: var(--shadow-active)
}

.status-list {
    margin-bottom: 0.4rem;
}