.logout {
    font-size: 0.8rem;
}

.book-list {
    margin-top: 1rem;
}

.book-list .book-group {
    display: none;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.book-list .book-group.active {
    display: grid;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.book img {
    width: 200px;
    height: 280px;
}

.book .book-info {
    margin: 1rem 0;
}

.book .rating {
    background: var(--green);
    padding: 0 .1rem;
    border-radius: 3px;
}

.status-btn {
    border: none;
    box-shadow: var(--shadow);
    background: white;
    margin: 0.1rem;
}

.status-btn.active {
    box-shadow: var(--shadow-active)
}

.status-list {
    margin-bottom: 0.4rem;
}

.book-history {
    margin-left: 2rem;
}

.book-history-group.active {
    display: block !important;
}

.book-history-table {
    box-shadow: var(--shadow);
    padding: .2rem;
    width: 100%;
}

.book-history-table th, .book-history-table td {
    padding: .2rem;
    border-bottom: 1px solid var(--dark);
    text-align: center;
}

.book-history-table td span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}