:root {
    --green: #3cce7b;
    --dark: #333333;
    --red: #ff6766;
    --gray: #e2e2e2;
    --blue: #6d62ff;

    --black: #212121;
    --shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    --shadow-active: 0 2px 4px 0 #3cce7b;
    --shadow-red: 0 2px 4px 0 var(--red);
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

input::-moz-focus-inner, button::-moz-focus-inner {
    border: none;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    color: var(--green);
}

.container {
    margin: 0 auto;
    padding: 0 7px;
    max-width: 1300px;
}

.shadow {
    box-shadow: var(--shadow);
}

.text-center {
    text-align: center;
}

.p-1 {
    padding: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.hidden {
    display: none !important;
}

/* Header */

.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: flex-end;
    max-width: 100%;
}

.logo-name {
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.logo-img {
    max-width: 9rem;
}


.header {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));;
}

.header-item {
    box-shadow: var(--shadow);
    height: 2.8rem;
}

.header-item:hover {
    box-shadow: var(--shadow-active);
}

.header-item a {
    width: 100%;
    height: 100%;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item.active {
    box-shadow: var(--shadow-active);
}

.user .user-btn {
    min-width: 8.4rem;
}

.user-btn a {
    padding-left: .4rem;
    padding-right: .4rem;
}

.login-btn img {
    margin-right: 1rem;
}

/* Search */

.search-box {
    margin-top: 1.4rem !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-bar {
    height: 2.2rem;
    border: none;
    box-shadow: var(--shadow);
    padding: 0 .5rem;
    width: 100%;
    margin-right: .5rem;
    outline: none;
}

.search-btn, .filter-btn {
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.search-btn {
    background: url("/static/img/search.svg") no-repeat center;
}

.filter-btn {
    background: url("/static/img/filter.svg") no-repeat center;
    background-size: 70%;
    margin-right: .5rem;
}

.search-bar:hover, .search-btn:hover, .search-bar:focus, .filter-btn:hover, .filter-btn:hover, .filter-btn:focus {
    box-shadow: var(--shadow-active);
}

/* Recommendation */

.recommendation {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    box-shadow: var(--shadow);
    margin: .8rem 0;
    padding: 0.8rem 0;
}

.recommendation .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.recommendation .book-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.recommendation .book img {
    width: 100px;
    height: 140px;
}

/* Content */

.content {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

@media (max-width: 300px) {
    .logo-name {
        margin: 0 .2rem .8rem 0;
        font-size: 2.4rem;
    }
}