:root {
    --green: #3cce7b;
    --dark: #333333;
    --red: #ff6766;
    --gray: #e2e2e2;

    --black: #212121;
    --shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    --shadow-active: 0 2px 4px 0 #3cce7b;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

input::-moz-focus-inner {
    border: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 7px;
    max-width: 1300px;
}

/* Header */

.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo-name {
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.logo-img {
    width: 9rem;
}


.header {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));;
}

.header-item {
    box-shadow: var(--shadow);
    height: 2.8rem;
}

.header-item:hover {
    box-shadow: var(--shadow-active);
}

.header-item a {
    width: 100%;
    height: 100%;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .login-btn {
    width: 8.4rem;
}

.login-btn img {
    margin-right: 1rem;
}

.search-box {
    margin-top: 1.4rem !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-bar {
    height: 2.2rem;
    border: none;
    box-shadow: var(--shadow);
    padding: 0 .5rem;
    width: 100%;
    margin-right: .5rem;
    outline: none;
}

.search-btn {
    background: url("/static/img/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.search-bar:hover, .search-btn:hover, .search-bar:focus {
    box-shadow: var(--shadow-active);
}

/* Content */

.content {
    margin-top: 2rem !important;
}