{{define "headers"}}{{end}}
{{define "scripts"}}{{end}}
{{define "content"}}
    <div class="shadow p-1">
        {{if .Err}}
            {{.Err}}
        {{else}}
            {{with .Author}}
                <h3>{{.Name}}</h3>
            {{end}}
            <br>
            Book list:
            <ol>
                {{range .Books}}
                    <li>
                        <a href="/book/{{.Id}}">{{.Name}}</a> ({{.Rating}})
                    </li>
                {{else}}
                    No books yet.
                {{end}}
            </ol>
        {{end}}
    </div>
{{end}}