{{define "headers"}}{{end}}
{{define "scripts"}}{{end}}
{{define "content"}}
    <div class="shadow p-1">
        {{if .AuthorsErr}}
            No authors found.
        {{else}}
            {{range $rune, $authors := .Order}}
                {{printf "%c" $rune}}
                <ul>
                    {{range $authors}}
                        <li><a href="/author/{{.Id}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
            {{end}}
        {{end}}
    </div>
{{end}}
