{{define "headers"}}
    <link rel="stylesheet" href="/static/css/books.css">
{{end}}
{{define "scripts"}}{{end}}
{{define "content"}}
    <div class="shadow p-1">
        {{if .AuthorErr}}
            {{.AuthorErr}}
        {{else}}
            {{with .Author}}
                <h3>{{.Name}}</h3>
            {{end}}
            Book list:
            <br><br>
            <div class="book-list">
                {{range .Books}}
                    <div class="book">
                        <a href="/book/{{.Id}}"><img src="{{.Cover}}" alt="{{.Name}}"></a>
                        <div class="book-info text-center">
                            <a href="/book/{{.Id}}">{{.Name}}</a>
                            <br>
                            <small><span class="rating"><span>&#9733;</span> {{.Rating}}</span> ({{.Year}})</small>
                        </div>
                    </div>
                {{else}}
                    No books yet.
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}