{{define "headers"}}
    <link rel="stylesheet" href="/static/css/authors.css">
{{end}}
{{define "scripts"}}{{end}}
{{define "content"}}
    <div class="shadow p-1">
        {{if .AuthorsErr}}
            No authors found.
        {{else}}
            <div class="authors">
                {{range $rune, $authors := .Order}}
                    <div class="authors-group">
                        {{printf "%c" $rune}}
                        <ul class="authors-list">
                            {{range $authors}}
                                <li><a href="/author/{{.Id}}">{{.Name}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}
