{{define "headers"}}
    <link rel="stylesheet" href="/static/css/book.css">
{{end}}
{{define "scripts"}}
    <script>
        $(document).ready(function () {
            $(".star-inp").on("change", function () {
                if ($(this).val()) {
                    $.ajax({
                        type: "POST",
                        url: "/func/star",
                        data: $("#rating-form").serialize(),
                        success: function () {
                            console.log("Voted");
                        }
                    });
                }
            });

            $(".book-status-btn").click(function () {
                let active = $(this).hasClass("active");
                $(".book-status-btn").removeClass("active");
                if (!active) {
                    $(this).addClass("active");
                }

                let status;
                if (active) {
                    status = 0;
                } else {
                    status = $(this).data("status");
                }

                $.ajax({
                    type: "POST",
                    url: "/func/setStatus",
                    data: "status=" + status + "&book-id={{.Book.Id}}",
                    success: function () {
                        console.log("Status set")
                    }
                });
            });
        });
    </script>
{{end}}
{{define "content"}}
    <div class="shadow p-1">
        {{if .BookErr}}
            {{.BookErr}}
        {{else}}
            {{$r := .UserRating}}
            {{$rs := .RatingStars}}
            {{$isUser := .IsUser}}
            {{$bs := .BookStatus}}
            {{with .Book}}
                <div class="book">
                    <div class="book-info">
                        <h3>{{.Name}}</h3>
                        <div class="book-rating">
                            <div class="rating-info">
                                <span class="rating-number">Rating: {{.Rating}}</span>
                                {{/*                                <span class="rating-votes">Votes: {{0}}</span>*/}}
                            </div>
                            {{if $isUser}}
                                <div class="stars">
                                    <form id="rating-form">
                                        <input type="hidden" name="book-id" value="{{.Id}}">
                                        {{range $rs}}
                                            <input type="radio" name='rating' id="star{{.}}" class="star-inp"
                                                   value="{{.}}"
                                                   {{if eq $r .}}checked{{end}}/>
                                            <label for="star{{.}}"><span>&#9733;</span> </label>
                                        {{end}}
                                    </form>
                                </div>
                            {{end}}
                        </div>
                        {{if $isUser}}
                            <div class="user-book-status">
                                <button type="button" data-status="1"
                                        class="book-status-btn{{if eq $bs 1}} active{{end}}">Read
                                </button>
                                <button type="button" data-status="2"
                                        class="book-status-btn{{if eq $bs 2}} active{{end}}">Will read
                                </button>
                                <button type="button" data-status="3"
                                        class="book-status-btn{{if eq $bs 3}} active{{end}}">Already read
                                </button>
                                <button type="button" data-status="4"
                                        class="book-status-btn{{if eq $bs 4}} active{{end}}">Will not read
                                </button>
                            </div>
                        {{end}}
                        <p>Author: <a href="/author/{{.Author.Id}}">{{.Author.Name}}</a></p>
                        <p>Genre: {{.Genre.Name}}</p>
                        <p>Year: {{.Year}}</p>
                        <br>
                        <div class="book-description">{{.Description}}</div>
                    </div>
                    <img src="{{.Cover}}" alt="{{.Name}}" class="book-cover">
                </div>
            {{end}}
        {{end}}
    </div>
{{end}}