{{define "headers"}}
    <link rel="stylesheet" href="/static/css/utils.css">
    <link rel="stylesheet" href="/static/css/books.css">
{{end}}
{{define "scripts"}}{{end}}
{{define "content"}}
    <div class="shadow p-1">
        {{if .BooksErr}}
            <div class="text-center">
                <h3>Something went wrong...</h3>
                <h4>Try later</h4>
            </div>
        {{else}}
            <div class="book-list">
                {{$uB := .UserBooks}}
                {{range .Books}}
                    <div class="book">
                        <div class="book-cover">
                            <a href="/book/{{.Id}}"><img src="{{.Cover}}" alt="{{.Name}}"></a>
                            {{$bId := .Id}}
                            {{range $uB}}
                                {{if eq .BookId $bId}}
                                    <div class="book-status book-status-{{ .Status }}">
                                        {{if eq .Status 1}}
                                            Reading
                                        {{else if eq .Status 2}}
                                            Plans
                                        {{else if eq .Status 3}}
                                            Already read
                                        {{else if eq .Status 4}}
                                            Don't like
                                        {{else}}
                                            Unknown
                                        {{end}}
                                    </div>
                                {{end}}
                            {{end}}
                        </div>
                        <div class="book-info text-center">
                            <a href="/book/{{.Id}}">{{.Name}}</a>
                            <br>
                            <small><span class="rating"><span>&#9733;</span> {{.Rating}}</span> ({{.Year}}) <a
                                        href="/author/{{.AuthorId}}">{{.Author.Name}}</a></small>
                        </div>
                    </div>
                {{else}}
                    <h3 class="text-center">
                        No books found.
                    </h3>
                {{end}}
            </div>

            <nav>
                <div class="pagination">
                    <a class="page-item" href="?page=1"><span>&#171;</span></a>
                    <a class="page-item" href="?page={{.PreviousPage}}"><span>&#8249;</span></a>
                    {{ range .Pages}}
                        <a class="page-item{{if eq . $.Page}} active{{end}}" href="?page={{.}}">{{.}}</a>
                    {{end}}
                    <a class="page-item" href="?page={{.NextPage}}"><span>&#8250;</span></a>
                    <a class="page-item" href="?page={{.PageCount}}"><span>&#187;</span></a>
                </div>
            </nav>
        {{end}}
    </div>
{{end}}
