{{define "headers"}}
    <link rel="stylesheet" href="/static/css/ordered-list.css">
{{end}}
{{define "scripts"}}{{end}}
{{define "content"}}
    <div class="shadow p-1">
        {{if .GenresErr}}
            No genres found.
        {{else}}
            <div class="entities">
                {{range $rune, $genres := .Order}}
                    <div class="entities-group">
                        {{printf "%c" $rune}}
                        <ul class="entities-list">
                            {{range $genres}}
                                <li><a href="/genre/{{.Id}}">{{.Name}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}
