<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/MetaLib.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="theme-color" content="#1C263C">
    <meta charset="UTF-8">
    <title>MetaLib</title>
</head>
<body>
<h2>MetaLib</h2>
</body>
</html>