<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-signin-client_id"
          content="318274972846-q5qllaspjo6nptvddav5p7ipbigjlli3.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/MetaLib.png" type="image/x-icon">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/libs/jquery.min.js"></script>
    <meta name="theme-color" content="#1C263C">
    <meta charset="UTF-8">
    <title>MetaLib</title>
    <script>
        $(document).ready(function() {
            if ($(window).width() < 560) {
                $("#login").detach().appendTo("#header");
            }

            $(window).resize(function () {
                if ($(window).width() < 512) {
                    $("#login").detach().appendTo("#header");
                } else if ($(window).width() >= 512) {
                    $("#login").detach().appendTo("#user");
                }
            });
        });
    </script>
</head>
<body>


<div class="top-box container">
    <div class="logo">
        <img src="/static/img/MetaLib.svg" alt="" class="logo-img">
        <h1 class="logo-name">MetaLib</h1>
    </div>
    <div class="user" id="user">
        <div class="g-signin2" data-onsuccess="onSignIn" id="login"></div>
        {{/*<a href="#" onclick="signOut();">Sign out</a>*/}}
    </div>
</div>

<header class="header container" id="header">
    <div class="header-item"><a href="/">Home</a></div>
    <div class="header-item"><a href="#">Books</a></div>
    <div class="header-item"><a href="#">Libraries</a></div>
</header>


<form action="" class="search-box container">
    <input type="text" name="" class="search-bar" placeholder="Search...">
    <input type="submit" value="" class="search-btn">
</form>


<div class="content container">
    Hello World
</div>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

</body>
</html>