{{define "headers"}}
    <link rel="stylesheet" href="/static/css/profile.css">
{{end}}
{{define "scripts"}}
    <script>
        $(document).ready(function () {
            $(".status-btn").click(function () {
                let gId = $(this).data("group");
                $(".book-group").removeClass("active");
                $("#g" + gId).addClass("active");
                $(".status-btn").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
{{end}}
{{define "content"}}
    <div class="shadow p-1">
        <h3>{{.User.Username}}  <a href="/logout" class="logout">Logout</a></h3>

        <div class="status-list">
            <button class="status-btn active" data-group="1">Read</button>
            <button class="status-btn" data-group="2">Will read</button>
            <button class="status-btn" data-group="3">Already read</button>
            <button class="status-btn" data-group="4">Will not read</button>
        </div>

        <div class="book-list">
            <div class="book-group active" id="g1">
                {{template "book-group" .Books.Read}}
            </div>
            <div class="book-group" id="g2">
                {{template "book-group" .Books.WillRead}}
            </div>
            <div class="book-group" id="g3">
                {{template "book-group" .Books.AlreadyRead}}
            </div>
            <div class="book-group" id="g4">
                {{template "book-group" .Books.WillNotRead}}
            </div>
        </div>
    </div>
{{end}}
{{block "book-group" .}}
    {{range .}}
        <a href="/book/{{.Book.Id}}">{{.Book.Name}}</a>
        <br>
    {{end}}
{{end}}