{{define "headers"}}
    <link rel="stylesheet" href="/static/css/profile.css">
{{end}}
{{define "scripts"}}
    <script>
        $(document).ready(function () {
            $(".status-btn").click(function () {
                let gId = $(this).data("group");
                $(".book-group").removeClass("active");
                $("#g" + gId).addClass("active");
                $(".status-btn").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
{{end}}
{{define "content"}}
    <div class="shadow p-1">
        <h3>{{.User.Username}} <a href="/logout" class="logout">Logout</a></h3>

        <div class="status-list">
            <button class="status-btn active" data-group="1">Reading</button>
            <button class="status-btn" data-group="2">Plans</button>
            <button class="status-btn" data-group="3">Already read</button>
            <button class="status-btn" data-group="4">Don't like</button>
            <button class="status-btn book-history" data-group="5">Book History</button>
        </div>

        <div class="book-list">
            <div class="book-group active" id="g1">
                {{template "book-group" .Books.Read}}
            </div>
            <div class="book-group" id="g2">
                {{template "book-group" .Books.WillRead}}
            </div>
            <div class="book-group" id="g3">
                {{template "book-group" .Books.AlreadyRead}}
            </div>
            <div class="book-group" id="g4">
                {{template "book-group" .Books.WillNotRead}}
            </div>

            <div class="book-group book-history-group" id="g5">
                <table class="book-history-table">
                    <thead>
                    <tr>
                        <th>Book</th>
                        <th>Library</th>
                        <th>Get Date</th>
                        <th>Back Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .UserBooksHistory}}
                        <tr>
                            <td><span><a href="/book/{{.Book.Id}}">{{.Book.Name}}</a></span></td>
                            <td><span><a href="/library/{{.Library.Id}}">{{.Library.Name}}</a></span></td>
                            <td><span>{{.GetTime.Format "Jan 02, 2006"}}</span></td>
                            <td><span>{{if .BackTime}}{{.BackTime.Format "Jan 02, 2006"}}{{else}}-{{end}}</span></td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}
{{block "book-group" .}}
    {{range .}}
        {{with .Book}}
            <div class="book">
                <a href="/book/{{.Id}}"><img src="{{.Cover}}" alt="{{.Name}}"></a>
                <div class="book-info text-center">
                    <a href="/book/{{.Id}}">{{.Name}}</a>
                    <br>
                    <small><span class="rating"><span>&#9733;</span> {{.Rating}}</span> ({{.Year}})</small>
                </div>
            </div>
        {{end}}
    {{else}}
        <h4>
            No books in this list.
        </h4>
    {{end}}
{{end}}