{{define "headers"}}
    <link rel="stylesheet" href="/static/css/register.css">
{{end}}
{{define "scripts"}}
    <script>
        $(document).ready(function () {
            $('#reg-form').submit(function (e) {
                $.ajax({
                    type: 'POST',
                    url: 'register',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data === "registered") {
                            window.location.href = "/"
                        } else {
                            $("#reg-text").css("box-shadow", "var(--shadow-red)");
                            let err;
                            switch (data) {
                                case "username already used":
                                    err = "Username already used!";
                                    break;
                                case "invalid username":
                                    err = "Invalid username! (a-Z,0-9,_ allowed, min 2 chars)";
                                    break;
                                default:
                                    err = "Undefined error!";
                            }
                            $("#reg-err").text(err);
                            if (!$("#reg-err").visible){
                                $("#reg-err").show("slow");
                            }
                        }
                    }
                });
                e.preventDefault()
            });
        });
    </script>
{{end}}
{{define "content"}}
    <div class="reg-form">
        <form id="reg-form">
            <div class="reg-text">Please enter your username to continue</div>
            <input class="reg-input" type="text" name="username" id="reg-text">
            <button type="submit" class="reg-btn">Confirm</button>
            <div class="reg-err" id="reg-err"></div>
        </form>
    </div>
{{end}}
