{{define "headers"}}
    <link rel="stylesheet" href="/static/css/selectize.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/books.css">
{{end}}
{{define "scripts"}}
    <script src="/static/libs/selectize.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#genre-filter, #author-filter, #year-filter").selectize({
                sortField: "text"
            });
        });
    </script>
{{end}}
{{define "content"}}
    <div class="shadow p-1 mb-1">
        Search for: {{.SearchFor}}
        <hr class="separator">
        <form action="" method="GET">
            <input type="hidden" name="oq" value="{{.SearchFor}}">

            {{$fg := .FilterGenre}}
            {{$fa := .FilterAuthor}}
            {{$fy := .FilterYear}}

            <div class="filter-container">
                <select id="genre-filter" placeholder="Genre" name="g" style="display: none;">
                    <option value="">Genre</option>
                    {{range .GenreList}}
                        <option value="{{.Id}}"{{if eq .Id $fg}} selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
                <select id="author-filter" placeholder="Author" name="a" style="display: none;">
                    <option value="">Author</option>
                    {{range .AuthorList}}
                        <option value="{{.Id}}"{{if eq .Id $fa}} selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
                <select id="year-filter" placeholder="Year" name="y" style="display: none;">
                    <option value="">Year</option>
                    {{range .YearList}}
                        <option value="{{.}}"{{if eq . $fy}} selected{{end}}>{{.}}</option>
                    {{end}}
                </select>

                <button type="submit" class="filter-in-btn">Filter</button>
            </div>

            <input class="desc-input" type="text" value="{{.SearchDescription}}" name="oqd" placeholder="Description...">
        </form>
    </div>
    <div class="shadow p-1">
        <div class="book-list">
            {{range .Books}}
                <div class="book">
                    <a href="/book/{{.Id}}"><img src="{{.Cover}}" alt="{{.Name}}"></a>
                    <div class="book-info text-center">
                        <a href="/book/{{.Id}}">{{.Name}}</a>
                        <br>
                        <small><span class="rating"><span>&#9733;</span> {{.Rating}}</span> ({{.Year}})</small>
                    </div>
                </div>
            {{else}}
                <h4>
                    No books found.
                </h4>
            {{end}}
        </div>
    </div>
{{end}}