{{define  "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/img/MetaLib.png" type="image/x-icon">
        <meta name="theme-color" content="#333333">

        <script src="/static/libs/jquery.min.js"></script>
        <script src="https://apis.google.com/js/api:client.js"></script>

        <meta charset="UTF-8">
        <title>MetaLib</title>
        {{template "headers" .Data}}
    </head>
    <body>

    <div class="top-box container">
        <div class="logo">
            <img src="/static/img/MetaLib.svg" alt="" class="logo-img">
            <h1 class="logo-name">MetaLib</h1>
        </div>
        <div class="user" id="user">
            <div class="user-btn header-item" id="user-btn">
                {{if eq .User.Status 1}}
                    <a href="/profile">
                        {{.User.Username}}
                        {{/*                            <a href="#" onclick="signOut()">Logout</a>*/}}
                    </a>
                {{else}}
                    <a href="#sign-in" id="login-btn" class="login-btn">
                        <img src="/static/img/google.svg" alt="Google">
                        <span id="login-text">Sign In</span>
                    </a>
                {{end}}
            </div>
        </div>
    </div>

    <header class="header container" id="header">
        <div class="header-item"><a href="/">Home</a></div>
        <div class="header-item"><a href="/books">Books</a></div>
        <div class="header-item"><a href="/authors">Authors</a></div>
        <div class="header-item"><a href="/genres">Genres</a></div>
        <div class="header-item"><a href="/libraries">Libraries</a></div>
    </header>

    <script>
        let minWidth = 516;

        let loginBtn = document.getElementById('user-btn');
        let headerDiv = document.getElementById('header');
        let userDiv = document.getElementById('user');

        if (window.innerWidth <= minWidth) {
            headerDiv.appendChild(loginBtn);
        }

        window.onresize = function () {
            if (window.innerWidth <= minWidth) {
                headerDiv.appendChild(loginBtn);
            } else {
                userDiv.appendChild(loginBtn);
            }
        };
    </script>

    <form action="/search" method="GET" class="search-box container">
        <input type="text" name="oq" class="search-bar" placeholder="Search...">
        <input type="submit" value="" class="search-btn">
    </form>

    <div class="content container">
        {{template "content" .Data}}
    </div>

    <script>
        function onSignIn(user) {
            $('#login-text').text('Signed in');
            let token = user.getAuthResponse().id_token;

            $.ajax({
                type: 'POST',
                url: 'func/auth',
                data: `token=${token}`,
                success: function (data) {
                    if (data === "logged") {
                        window.location.reload();
                    } else if (data === "register") {
                        window.location.href = "/register";
                    }
                }
            });
        }

        function onFailSignIn(error) {
            $('#login-text').text('Failed');
            console.error(error);
        }

        function signOut() {
            let auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                window.location.href = "/logout";
            });
        }

        $(document).ready(function () {
            // Google auth
            gapi.load('auth2', function () {
                let auth2 = gapi.auth2.init({
                    client_id: '{{.GoogleClientID}}'
                });
                {{if ne .User.Status 1}}
                let loginBtn = document.getElementById('login-btn');
                auth2.attachClickHandler(loginBtn, {}, onSignIn, onFailSignIn);
                {{end}}
            });
        });
    </script>
    {{template "scripts" .Data}}
    </body>
    </html>
{{end}}