{{define  "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/img/MetaLib.png" type="image/x-icon">
        <meta name="theme-color" content="#333333">

        <script src="/static/libs/jquery.min.js"></script>
        <script src="https://apis.google.com/js/api:client.js"></script>

        <meta charset="UTF-8">
        <title>MetaLib</title>
        {{template "headers" .Data}}
    </head>
    <body>

    <script>
        let getParams = new URLSearchParams(window.location.search)
    </script>

    <div class="top-box container">
        <div class="logo">
            <img src="/static/img/MetaLib.svg" alt="MetaLib" class="logo-img">
            <h1 class="logo-name">MetaLib</h1>
        </div>
        <div class="user" id="user">
            <div class="user-btn header-item" id="user-btn">
                {{if eq .User.Status 1}}
                    <a href="/profile">
                        {{.User.Username}}
                    </a>
                {{else}}
                    <a href="#sign-in" id="login-btn" class="login-btn">
                        <img src="/static/img/google.svg" alt="Google">
                        <span id="login-text">Sign In</span>
                    </a>
                {{end}}
            </div>
        </div>
    </div>

    <header class="header container" id="header">
        <div class="header-item" id="nav-home"><a href="/">Home</a></div>
        {{/*        <div class="header-item" id="nav-books"><a href="/books">Books</a></div>*/}}
        <div class="header-item" id="nav-authors"><a href="/authors">Authors</a></div>
        <div class="header-item" id="nav-genres"><a href="/genres">Genres</a></div>
        <div class="header-item" id="nav-libraries"><a href="/libraries">Libraries</a></div>
    </header>

    <form action="/search" method="GET" class="search-box container">
        <input type="text" name="oq" class="search-bar" placeholder="Search...">
        <a href="/search" class="filter-btn"></a>
        <input type="submit" value="" class="search-btn">
        <input type="hidden" name="g">
        <input type="hidden" name="a">
        <input type="hidden" name="y">
        <input type="hidden" name="oqd">
    </form>

    <script>
        let minWidth = 516;

        let loginBtn = document.getElementById('user-btn');
        let headerDiv = document.getElementById('header');
        let userDiv = document.getElementById('user');

        if (window.innerWidth <= minWidth) {
            headerDiv.appendChild(loginBtn);
        }

        window.onresize = function () {
            if (window.innerWidth <= minWidth) {
                headerDiv.appendChild(loginBtn);
            } else {
                userDiv.appendChild(loginBtn);
            }
        };
    </script>

    <div class="container">
        <div class="recommendation">
            {{range .RecommendedBooks}}
                <div class="book">
                    <a href="/book/{{.Id}}"><img src="{{.Cover}}" alt="{{.Name}}"></a>
                    <a class="text-center book-title" href="/book/{{.Id}}">{{.Name}}</a>
                </div>
            {{else}}
                <h3 class="text-center">
                    No books found.
                </h3>
            {{end}}
        </div>
    </div>

    <div class="content container">
        {{template "content" .Data}}
    </div>

    <footer class="container mb-1">
        <div class="p-1 shadow text-center">
            Our contacts: <a href="mailto:28.swich@gmail.com">28.swich@gmail.com</a>
            <br>
            <span>&#169;</span> 2019-2020 MetaLib
        </div>
    </footer>

    <script>
        function onSignIn(user) {
            $('#login-text').text('Signed in');
            let token = user.getAuthResponse().id_token;

            $.ajax({
                type: 'POST',
                url: '/func/auth',
                data: `token=${token}`,
                success: function (data) {
                    if (data === "logged") {
                        window.location.reload();
                    } else if (data === "register") {
                        window.location.href = "/register";
                    }
                }
            });
        }

        function onFailSignIn(error) {
            $('#login-text').text('Failed');
            console.error(error);
        }

        function signOut() {
            let auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                window.location.href = "/logout";
            });
        }

        $(document).ready(function () {
            // Google auth
            gapi.load('auth2', function () {
                let auth2 = gapi.auth2.init({
                    client_id: '{{.GoogleClientID}}'
                });
                {{if ne .User.Status 1}}
                let loginBtn = document.getElementById('login-btn');
                auth2.attachClickHandler(loginBtn, {}, onSignIn, onFailSignIn);
                {{end}}
            });

            let nav;
            switch (location.pathname) {
                case "/":
                    nav = "#nav-home";
                    break;
                case "/books":
                    nav = "#nav-books";
                    break;
                case "/authors":
                    nav = "#nav-authors";
                    break;
                case "/genres":
                    nav = "#nav-genres";
                    break;
                case "/libraries":
                    nav = "#nav-libraries";
                    break;
            }

            if (nav) {
                $(nav).addClass("active")
            }

            if (getParams.has("oq")) {
                $("input[name=oq]").val(getParams.get("oq"))
            }
            if (getParams.has("oqd")) {
                $("input[name=oqd]").val(getParams.get("oqd"))
            }
            if (getParams.has("g")) {
                $("input[name=g]").val(getParams.get("g"))
            }
            if (getParams.has("a")) {
                $("input[name=a]").val(getParams.get("a"))
            }
            if (getParams.has("y")) {
                $("input[name=y]").val(getParams.get("y"))
            }
        });
    </script>
    {{template "scripts" .Data}}
    </body>
    </html>
{{end}}